.env.example
# Database Configuration untuk Laragon
DB_ENGINE=django.db.backends.mysql
DB_NAME=mikrotik_automation
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-h2egn6biy01(j6n^e4bm8o#+4@9s#z9f*!6gqq&rb7h(x(f#h6

# Timezone
TIME_ZONE=Asia/Jakarta
